body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    background-image: url(./images/fond.jpg);
    background-size: 170%;
    color:rgba(255,400,60,0.5);
    gap: 7px;
    
}

h1{
    font-family:'Kanit', sans-serif;
    font-weight:bolder;
    font-size:550%;
    color:rgb(0, 0, 0);
}
h2{
    font-family: 'Kanit', sans-serif;
    font-weight: inherit;
    font-size: 130%;
    color: orangered;
}
a{
    text-decoration:none;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size:100%;
    font-style: oblique;

}


p{
    font-family: 'Kanit', sans-serif;
    font-weight:lighter;
    font-size:  120%;
    color:rgb(0, 0, 0);
    background-color:white;

}
img{
    max-width:100%;
    height: auto;
    ;
    
}
.div-image {
    width: 440px;
    height:440px;
    overflow: hidden;
}
.image-zoom{
    transition: 0.4s;
}
.image-zoom:hover {
    transform:scale(1.2);
}
.info{
    font-family:'Kanit', sans-serif;
    font-style:oblique;
    font-weight:100%;
    font-size: 100%;
    color:black;
    
}
