body{
    background-color:transparent;
}
h1{
    font-family: 'Kanit', sans-serif;
    font-weight:bolder;
    font-size: 700;
    color: snow;
}

p{
    font-family: 'Kanit', sans-serif;
    font-weight:300;
    font-size: 48%;

}
img{
    display: block;
    max-width: 50%;
    height: auto;
}